body {
  margin: 5vh 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

#instructions {
  margin-bottom: 0;
}
input[type="file"] {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0.5em 0;
  font-size: 110%;
  background: lightgray;
  border-radius: 10px;
  padding: 5px;
}
canvas {
  width: 100%;
  max-width: 400px;
  /* Fallback background color */
  background-color: #aaa;
  /* Checkerboard pattern with a size of 5x5% repeating = 20x20 repeats */
  background: repeating-conic-gradient(#999 0deg 90deg, #bbb 90deg 180deg) center / 5% 5%;
  border-radius: 10px;
}

a.button {
  display: inline-block;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  color: red;
  font-weight: bold;
  margin: 0.25em 1em;
  padding: 0.25em 1em;
  text-decoration: none;
}
a.button:hover,
a.button:focus {
  text-decoration: underline;
}

#frame-list {
  width: 100%;
  max-width: 800px;
}
/* The frame-sublist structure in HTML provides control over line-breaking in flexbox */
.frame-sublist {
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#frame-list a.button {
  flex: auto;
  text-align: center;
  background: red;
  border-color: black;
}
#frame-list a.button.black {
  color: black;
}
#frame-list a.button.white {
  color: white;
}
#frame-list a.button.trans {
  background: linear-gradient(to bottom, #5bcffa 0%, #5bcffa 49%, #f5abb9 51%, #f5abb9 100%);
}
#frame-list a.button.rainbow {
  background: black;
}
#frame-list a.button.rainbow > span {
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, #f0f 83%, red 100%);
  background-clip: text;
  -webkit-background-clip: text; /* necessary for Chrome */
  -webkit-text-fill-color: transparent;  /* works with Firefox too! */
}
