body {
  margin: 5vh 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

#instructions {
  margin-bottom: 0;
}
input[type="file"] {
  max-width: 100%;
  margin: 0.5em;
  text-align: center;
  font-size: 110%;
  border: thin solid gray;
}
canvas {
  width: 100%;
  max-width: 400px;
}

a#export {
  display: none;
}
a#export:link,
a.set-border {
  display: inline-block;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  color: red;
  font-weight: bold;
  margin: 0.25em 1em;
  padding: 0.25em 1em;
  text-decoration: none;
}
a.set-border {
  background: red;
  border-color: black;
}
a.set-border.black {
  color: black;
}
a.set-border.white {
  color: white;
}
a.set-border.trans {
  background: linear-gradient(to bottom, #5bcffa 0%, #5bcffa 49%, #f5abb9 51%, #f5abb9 100%);
}
a.set-border.rainbow {
  background: black;
}
a.set-border.rainbow > span {
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, #f0f 83%, red 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;  /* works with Firefox too! */
}
a#export:hover,
a#export:focus,
a.set-border:hover,
a.set-border:focus {
  text-decoration: underline;
}